html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}
#app {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*text-align: center;*/
  color: #2c3e50;
  margin-top:0;
}
.main-container {
  width: 100%;
  height: 100%;
}
/* // TODO
.vue-js-switch .v-switch-core .v-switch-button {
  background: black;
} */
/**  media  **/
@media only screen and (orientation: portrait) and (max-width: 480px) {
  html {
    font-size: 10px;
  }
}
@media screen and (orientation: landscape) and (max-width: 480px) {
  html {
    font-size: 11px;
  }
}
/*@media screen and (max-width: 480px){*/
  /*html {font-size: 12px}*/
/*}*/
@media screen and (min-width: 480px)and (max-width:768px) {
  html {font-size: 12px}
}
@media screen and (min-width: 768px) and (max-width:1024px) {
  html {font-size: 13px}
}
@media screen and (min-width: 1024px) and (max-width:1400px) {
  html {font-size: 14px}
}
@media screen and (min-width: 1400px) and (max-width:1800px){
  html {font-size: 15px}
}
@media screen and (min-width: 1800px){
  html {font-size: 16px}
}
.vue-js-switch .v-switch-core .v-switch-button {
  background-image: url('./../img/control/btn_slider03.svg');
}
.nipple .back {
  opacity: 0.9 !important;
}
.nipple .front {
  box-shadow: 0 0 12px 0 rgba(184,184,184,0.50);
  width: 54px !important;
  height: 54px !important;
  margin-left: -27px !important;
  margin-top: -27px !important;
}

/* common dialog */
.drop-enter-active {
  transition: all .5s ease;
}
.drop-leave-active {
  transition: all .3s ease;
}
.drop-enter {
  transform: translateY(-500px);
}
.drop-leave-active {
  transform: translateY(-500px);
}
.dialog-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.dialog-cover {
  background: #000;
  opacity: .5;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* .el-table tr:hover { */
  /* background: yellow; */
/* } */
.el-table td {
  font-family: 'Gotham-Book';
  font-size: 12px;
  color: #3C3C3C;
  letter-spacing: -0.38px;
  text-align: center;
  height: 30px;
  margin: 0px;
  padding: 0px;
  /* background: yellow; */
  cursor: pointer;
  border: 0;
}
.el-table th {
  font-family: 'Gotham-Medium';
  font-size: 13px;
  color: #3C3C3C;
  letter-spacing: -1px;
  text-align: center;
  /* height: 20px; */
}
/* .el-table tr:hover {
  background: #A5A7A9;
} */

.el-table .normal {
  background: white;
}

el-table .normal .table-td {
  color: #3C3C3C;
}

.el-table .selected {
  background: #A5A7A9;
}
.el-table .selected:hover {
  background: #A5A7A9;
}

.el-table .selected .table-td {
  color: white;
}
.setting-panel-wrapper  .el-tabs__item.is-active {
  background: #c1521e;
  color: #fff;
  border-bottom-right-radius: 16px;

}
.setting-panel-wrapper .el-tabs__active-bar {
  background-color: #c1521e;
  display: none;

}
.setting-panel-wrapper .el-tabs__item {
  height: 80px;
  width: 210px;
  line-height: 80px;
  text-align: left;
  font-size: 16px;
}
.el-slider__bar {
  /* background-color:#c1521e; */
  background-color: #da7141;
}
.el-slider__button {
  /* border: 2px solid #c1521e; */
  border: 2px solid #da7141;
}


input[type="range"] {
     /*-webkit-box-shadow: 0 1px 0 0px #424242, 0 1px 0 #060607 inset, 0px 2px 10px 0px black inset, 1px 0px 2px rgba(0, 0, 0, 0.4) inset, 0 0px 1px rgba(0, 0, 0, 0.6) inset;*/
     -webkit-appearance: none; /*去除默认样式*/
    
     background-color: #c1521e;
     /*border-radius: 15px;*/
     width: 100% !important;
     -webkit-appearance: none;
     height:2px;
    padding: 0;
    border: none;
  
   /*input的长度为80%，margin-left的长度为10%*/
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;/*去除默认样式*/
    cursor: default;
   top: 0;
    height: 25px;
    width: 25px;
    transform: translateY(0px);
    /*background: none repeat scroll 0 0 #5891f5;*/
    background: #fff;
    border-radius: 15px;
    border: 2px solid #c1521e;
    /*-webkit-box-shadow: 0 -1px 1px #fc7701 inset;*/
  }
  .com-edit-btn .el-upload {
    width: 100%;
    height: 40px;
    line-height: 40px;
    
  }
